@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-color: rgba(27, 55, 100, 1) !important;
    --second-color: rgba(255, 202, 66, 1) !important;
    --third-color: rgba(246, 248, 252, 1) !important;
    --paragraph-color: rgba(150, 154, 160, 1) !important;
}

h1 {
    font-size: calc(50px + 1vw) !important;
    line-height: 84px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h2 {
    font-size: calc(37px + 1vw) !important;
    line-height: 71px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h3 {
    font-size: calc(25px + 1vw) !important;
    line-height: 58px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h4 {
    font-size: calc(18px + 1vw) !important;
    line-height: 42px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h5 {
    font-size: calc(13px + 1vw) !important;
    line-height: 31px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h6 {
    font-size: calc(6px + 1vw) !important;
    line-height: 29px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

p {
    color: var(--paragraph-color) !important;
    font-size: calc(6px + 1vw) !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    letter-spacing: -0.01em !important;
}

.cardo,
button,
h1, h2, h3, h4, h5, h6 {
    font-family: Cardo, 'Times New Roman', Times, serif !important;
}

.inter, body, p {
    font-family: Inter, 'Arial Narrow Bold', sans-serif !important;
}

ul {
    list-style-image: url("../assets/utils/ul-style.svg") !important;
}

header ul {
    list-style-image: unset !important;
}

header #cart span {
    font-size: 8px !important;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 50%;
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-second-color {
    background-color: var(--second-color) !important;
}

.text-main-color {
    color: var(--main-color);
}

.text-second-color,
header a:hover,
header #dropdownNavbarLink:hover {
    color: var(--second-color) !important;
}

.outlined-button {
    background: linear-gradient(0deg, #FFCA42, #FFCA42),linear-gradient(0deg, #FFFFFF, #FFFFFF) !important;
    border: 1px solid var(--second-color) !important;
}

.guide-sm-button {
    padding: 8px 25px !important;
}