@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main-color: rgba(27, 55, 100, 1) !important;
    --second-color: rgba(255, 202, 66, 1) !important;
    --third-color: rgba(246, 248, 252, 1) !important;
    --paragraph-color: rgba(150, 154, 160, 1) !important;
    --pg-color-in-mainc-bg: rgba(180, 199, 231, 1);
    --line: 1px solid rgba(255, 202, 66, 1) !important;
    --other-btn-border: 1px solid rgba(255, 202, 66, 1);
    --section-bg: rgba(244, 248, 255, 1);
}

h1 {
    line-height: 1.10 !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h2 {
    font-size: calc(37px + 1vw) !important;
    line-height: 71px !important;
    letter-spacing: -0.015em !important;
    text-align: left !important;
}

h3 {
    /*font-size: calc(25px + 1vw) !important;*/
    line-height: 58px !important;
    letter-spacing: -0.015em !important;
}

h4 {
    line-height: 42px !important;
    letter-spacing: -0.015em !important;
}

h5 {
    font-size: calc(13px + 1vw) ;
    line-height: 31px ;
    letter-spacing: -0.015em;
    text-align: left;
}

h6 {
    letter-spacing: -0.015em !important;
}

p {
    color: var(--paragraph-color) !important;
    font-size: calc(6px + 1vw);
    font-weight: 400 !important;
    color: var(--paragraph-color);
    letter-spacing: -0.01em !important;
}

.cardo,
button,
h1, h2, h3, h4, h5, h6 {
    font-family: Cardo, 'Times New Roman', Times, serif !important;
}

.inter, body, p {
    font-family: Inter, 'Arial Narrow Bold', sans-serif !important;
}

ul {
    list-style-image: url("../assets/utils/ul-style.svg") !important;
}

#preloader {
    min-height: 100vh;
}

header ul {
    list-style-image: unset !important;
}

header #cart span {
    font-size: 8px !important;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 50%;
}

header #order-today {
    padding: 8px 25px !important;
}

main {
    margin-top: 64px;
}

@media (min-width: 768px) {
    main {
        margin-top: 92px;
    }
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-second-color {
    background-color: var(--second-color) !important;
}

.text-main-color {
    color: var(--main-color);
}

.text-second-color,
header a:hover,
header #dropdownNavbarLink:hover {
    color: var(--second-color) !important;
}

.text-third-color {
    color: rgba(180, 199, 231, 1);

}

.text-color-in-mainc-bg {
    color: var(--pg-color-in-mainc-bg) !important;
}

.outlined-button {
    border: 1px solid var(--second-color) !important;
}

.outlined-2-button {
    border: var(--other-btn-border);
}


footer{
    background-color: var(--main-color);
}

.footer__wrapper{
    padding-bottom: 77px;
}

.footer__socialMedia__icon{
    margin-top: 27px;
}

.iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    border: 1px solid var(--second-color);
}

.footer__divider{
    padding-bottom: 18px;
}

.guide-sm-button {
    padding: 15px 40px;
}

@media (max-width:767px) {
    .guide-sm-button {
        padding: 10px;
    }
}

.line {
    border: var(--line);
}

.br-second-color {
    border-right: 1px solid var(--second-color);
}

.bl-second-color {
    border-left: 1px solid var(--second-color);
}

.section-bg {
    background-color: var(--section-bg);
}

#banner p {
    color: rgba(180, 199, 231, 1);
}

#banner a {
    border-bottom: 1px solid white;
}

#banner a:hover {
    border: unset;
}

#banner ul,
#author-book ul {
    list-style-position: inside;
}

@media (min-width: 768px) {
    #author-book #first-content, #author-book #second-content {
        grid-template-rows: 16.5% auto;
    }
}

#about {
    grid-template-rows: 5% auto;
}

#about > img {
    box-shadow: var(--section-bg) 15px 15px 0 -5px, var(--second-color) 15px 15px 0;
}

@media (min-width: 768px) {
    #about > img {
        box-shadow: var(--section-bg) 30px 30px 0 -10px, var(--second-color) 30px 30px 0;
    }
}  
/* newsletter */
.newsletter{
    padding-inline: 60px;

    @media (min-width:1024px) {
        padding-inline: 100px;
    }

    @media (min-width:1920px) {
        padding-inline: 310px;
    }

    
}

.wrapper{
    padding-block: 121px;
    background-color: var(--second-color);
    margin-block: 150px;
}

.newsletter__title{
    color: var(--main-color);
    font-size: 24px;
    padding: 0 0 17px 24px;

    @media (min-width:1024px) {
            font-size: 30px;
        }
    
        @media (min-width:1536px) {
            font-size: 45px;
        }
}

.newsletter__line{
    margin-left: -37px;
    width: 55px;
    border-top:3px solid var(--main-color);
}

.newsletter__description{
    font-size: 19px;
    color: var(--main-color);
    padding: 0 0 38px 0;
}

.newsletter__field{
    margin: 0 11px;
}

.newsletter__field__input {
    line-height: 180%;
    font-size: 17px;
    color: #969AA0;
    padding:17px 0 17px 24px;
    margin: 0 -9px 0 0;
    border: 1px solid #DCE1E9;
}

.newsletter__field__button{
    line-height: 125%;
    border: none;
    font-size: 19px;
    background-color: var(--main-color);
}
/* blogs */
#blogs{
    background: #F4F8FF;
    padding-block: 50px;

    @media (min-width:1024px) {
        padding-block: 145px;
    }
    
}

.blogs__wrapper{
    margin: 0 50px;

    @media (min-width:1536px) {
        margin: 0 310px;
    }
}

.blogs__wrapper__title{
    color: var(--main-color);
    line-height: 120%;
    font-size: 45px;
    margin-bottom: 22px;
}

.blogs__wrapper__divider{
    width: 55px;
    border-top: 3px solid var(--second-color);
    margin-bottom: 40px;
}

.blogs__card{
    min-width: fit-content;
    max-width: 410px;
    background: #FFF;
    box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
}

.blogs__card__legend{
    display: flex;
    flex-direction: column;
    padding: 27px 32px;
}

.blogs__card__legend--title{
    font-size: 24px;
    line-height: 120%;
    color: var(--main-color);
    padding: 0 0 14px 0;
    letter-spacing: -0.48px;
}

.blogs__card__legend--description{
    font-size: 19px;
    color: #969AA0;
    padding: 0 0 27px 0;
    line-height: 180%;
    letter-spacing: -0.19px;
}

.blogs__card__legend--footer{
    color: var(--main-color);
}

.blogs__card__legend--footer a{
    line-height: 125%;
    padding-bottom: 3px;
    border-bottom:  1px solid var(--main-color);
}

.blogs__card__legend--footer span{
    font-size: 17px;
    line-height: 125%;
}